/*公共样式*/
.header .layui-nav-child{ z-index:99999; top:60px; left: auto; right: 0;}
.iconfont{ font-size:16px !important;}
.main_body{ min-width:320px; }
.layui-nav .layui-nav-item a{ cursor:pointer;}
.layui-nav .layui-nav-item>a{ color:rgba(255,255,255,1); max-height:60px;}
.layui-layer-tab .layui-layer-title span{ padding:0 !important;}
iframe{ position:absolute; height:100%; width:100%; border:none;}
.top_menu.layui-nav .layui-nav-child dd.layui-this a,.closeBox.layui-nav .layui-nav-child dd.layui-this a,.closeBox .layui-nav-child dd.layui-this,.top_menu .layui-nav-child dd.layui-this{ background:none; color:#333;}
.layui-nav .layui-nav-child a:hover,.layui-nav .layui-nav-child dd.layui-this a:hover{background-color:#5FB878;color:#fff;}

/*打开页面动画*/
.layui-tab-item.layui-show{ animation:moveTop 1s; -webkit-animation:moveTop 1s; animation-fill-mode:both; -webkit-animation-fill-mode:both; position:relative; height:100%; -webkit-overflow-scrolling: touch; overflow:auto; }
@keyframes moveTop{
	0% {opacity: 0;-webkit-transform: translateY(20px);-ms-transform: translateY(20px);transform: translateY(20px);}
	100% {opacity: 1;-webkit-transform: translateY(0);-ms-transform: translateY(0);transform: translateY(0);}
}
@-o-keyframes moveTop{
	0% {opacity: 0;-webkit-transform: translateY(20px);-ms-transform: translateY(20px);transform: translateY(20px);}
	100% {opacity: 1;-webkit-transform: translateY(0);-ms-transform: translateY(0);transform: translateY(0);}
}
@-moz-keyframes moveTop{
	0% {opacity: 0;-webkit-transform: translateY(20px);-ms-transform: translateY(20px);transform: translateY(20px);}
	100% {opacity: 1;-webkit-transform: translateY(0);-ms-transform: translateY(0);transform: translateY(0);}
}
@-webkit-keyframes moveTop{
	0% {opacity: 0;-webkit-transform: translateY(20px);-ms-transform: translateY(20px);transform: translateY(20px);}
	100% {opacity: 1;-webkit-transform: translateY(0);-ms-transform: translateY(0);transform: translateY(0);}
}
/*顶部*/
.header{ z-index:2000;}
.logo{ color: #fff; float: left; line-height:60px; font-size:20px; padding:0 25px; text-align: center; width:150px;}
.layui-nav cite{ margin-left: 5px;}
/*顶部右侧*/
.topLevelMenus{float:left;}
.topLevelMenus li.layui-nav-item:hover{ background-color:rgba(221,221,221,0.2);}
.layui-nav .layui-this:after{ bottom:-5px!important;}
.header .layui-nav-bar{top:60px !important;}
.topLevelMenus .layui-nav-item.layui-this{ background-color:rgba(0,0,0,0);}
.top_menu.layui-nav .layui-this:after{ width:0px; }

/*顶部右侧菜单*/
.top_menu{ background-color:inherit !important; position:absolute; right:0;top:0; }

/*选项卡*/
.layui-body{overflow:hidden; border-top:5px solid #1AA094;border-left:2px solid #1AA094; background:#fff;}
.layui-layout-admin .layui-body{bottom: 0px;}
#top_tabs_box{ padding-right:138px; height:36px; border-bottom:1px solid #e2e2e2; }
#top_tabs{ position: absolute; border-bottom:none;}
.layui-tab-title .layui-this{ background-color:#5fb878; color:#fff; }
.layui-tab-title .layui-this:after{ border:none; }
.layui-tab-title li cite{ font-style: normal; padding-left:5px; }
.clildFrame.layui-tab-content{ top:41px; position:absolute; bottom:0; width:100%; padding:0;}


/*页面操作下拉*/
.closeBox{ position:absolute; right:0; background-color:#fff !important; color:#000; border-left:1px solid #e2e2e2; border-bottom:1px solid #e2e2e2; }
.closeBox .layui-nav-item{ line-height:35px; }
.closeBox .layui-nav-item>a,.closeBox .layui-nav-item>a:hover{ color:#000; }
.closeBox .layui-nav-child{ top:42px; left:-12px; }
.closeBox .layui-nav-bar{ display:none; }
.closeBox a i.caozuo{ font-size: 20px; position:absolute; top:1px; left:0; }
.closeBox a span.layui-nav-more{ border-color:#333 transparent transparent;}
.closeBox a span.layui-nav-more.layui-nav-mored{ border-color:transparent transparent #333;}

/*底部*/
/*.footer{ text-align: center; line-height:44px;border-left: 2px solid #1AA094; z-index:999;}*/

/*修改顶部高度*/
.header .layui-nav-child,.layui-body,.layui-layout-admin .layui-side,.header .layui-nav-bar{ top:50px !important;}
.header .layui-nav .layui-nav-item,.header .layui-nav .layui-nav-item>a,.header,.logo{ line-height:50px !important; max-height:50px; !important;}
.mObjectileTopLevelMenus{ float:left;}
